{% extends 'base.html.twig' %}


{% block title %}Our Recipes - Login{% endblock %}

{% block body %}
    <div class="container col-lg-6 my-5">

        <h2>Login to your account</h2>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <div class="row mb-3">
                <label for="username">Username: </label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" autocomplete="off">
            </div>

            <div class="row mb-4">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="_password">
            </div>


            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')  }}">

            <input type="hidden" name="_target_path" value="/home">

            <div class="row">
                <button class="btn btn-dark mb-3" type="submit">Login</button>
                <p>No account yet? <a class="text-secondary" href={{ asset('registration') }}>Register now!</a></p>
            </div>
        </form>
    </div>
{% endblock %}
